services:
  backend:
    build: 
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - ./synthetic_data_generation:/src/synthetic_data_generation
      - ./data:/data
    environment:
      - PORT=5000
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis

  celery_worker:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes:
      - ./backend:/app
      - ./synthetic_data_generation:/src/synthetic_data_generation
      - ./data:/data
    command: celery -A app.celery_app.celery_app worker --loglevel=info
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
      - backend

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - BACKEND_URL=http://backend:5000
    depends_on:
      - backend
